<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <display-name>TPFileRougeCinemaVersion1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SessionsServlet</display-name>
    <servlet-name>SessionsServlet</servlet-name>
    <servlet-class>servlets.SessionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionsServlet</servlet-name>
    <url-pattern>/SessionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>servlets.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistersServlet</display-name>
    <servlet-name>RegistersServlet</servlet-name>
    <servlet-class>servlets.RegistersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistersServlet</servlet-name>
    <url-pattern>/RegistersServlet</url-pattern>
  </servlet-mapping>
</web-app>